
/*
#######
Side Control CSS
#######
*/


/*top box css - current player */
#current_player{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-color: #000000;
    -fx-background-radius: 0 0 5 5;
}

#lb_current_player{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #0076a3;
}



/*Bottom box css - player display */
#player_display{
    -fx-padding: 7;
    -fx-background-color: #000000;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-radius: 5 5 0 0;
}

/*#title_box{*/
    /*-fx-background-color: #f2f2f2;*/
    /*-fx-background-radius: 3;*/
/*}*/

#title{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #f2f2f2;
}

#scores{
    -fx-background-image: url('/sample/assets/wood.jpg');
    -fx-background-radius: 3;
}

#label_score{
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-text-fill: #292929;
}

#action_button{
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

#action_button:pressed {
    -fx-background-color:
            #0f73b2,
            linear-gradient(white 50%, #d6d6d6 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
}